<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Empresa</title>
</head>
<body>

    <h1>Cadastrar Nova Empresa</h1>
    
    <form id="form-empresa">

        <input type="text" name="nome" id="nome" placeholder="Nome da Empresa">
        <input type="text" name="cnpj" id="cnpj" placeholder="CNPJ (Apenas números)">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="text" name="descricao" id="descricao" placeholder="Descrição da Empresa">
        <input type="text" name="pais" id="pais" placeholder="País">
        <input type="text" name="estado" id="estado" placeholder="Estado">
        <input type="text" name="cep" id="cep" placeholder="CEP">

        <button type="submit">Cadastrar</button>

    </form>


    <script type="module" src="../main.js"></script>
</body>
</html>