<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Candidato</title>
</head>
<body>
    <h1>Cadastrar Novo Candidato</h1>

    <form id="form-candidato">

        <input type="text" name="nome" id="nome" placeholder="Nome Completo">
        <input type="number" name="idade" id="idade" placeholder="Idade">
        <input type="text" name="cpf" id="cpf" placeholder="CPF (Apenas números)">
        <input type="text" name="email" id="email" placeholder="Email">
        <input type="text" name="descricao" id="descricao" placeholder="Descrição Profissional">
        <input type="text" name="estado" id="estado" placeholder="Estado">
        <input type="text" name="cep" id="cep" placeholder="CEP">
        <input type="text" name="competencias" id="competencias" placeholder="Competências (Separadas por vírgula)">

        <button type="submit">Cadastrar</button>

    </form>


    <script type="module" src="../main.js"></script>
</body>
</html>